@tailwind base;
@tailwind components;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,800;1,300&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.dash-header-top {
  color: #67A9FF;
  background-color: #252C33;
  border: 1px solid #3C3F43;
}

.dash-header-top a:hover {
  color: #0C498A;
}

.chart {
  background-color: #252525;
}

.dash-header-bottom {
  background-color: #252525;
  border: 1px solid #3C3F43;
}

.dropdown {
  background-color: #141618;
}

.dropdown-menu {
  max-height: 17rem;
}

.mint-screen {
  background-color: #252C33;
}

.title {
  color: #67A9FF;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */
